:root {
  --aqua: rgb(97 218 251);
  --lightgray: #efefef;
  --darkgray: #c9c9c9;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: #171717;
  font-family: 'Cantarell', sans-serif;
}

.error-text {
  font-size: 40px;
  color: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100px;
}

/*        NavBar        */

.nav-box {
  background-color: #101010;
  height: 60px;
  margin: 0 auto;
  position: relative;
}

  .nav-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .nav-title {
    color: var(--lightgray);
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  /*.nav-logo {
    width: 55px;
    transition: 0.1s all ease-out;
  }

  .nav-logo:hover {
    transform: scale(1.2) rotate(120deg);
    cursor: pointer;
  }*/

    .nav-links {
      display: flex;
      transition: 0.1s all;
    }

      .nav-link {
        /*width: 66px;*/
        text-decoration: none;
        color: var(--darkgray);
        font-weight: 600;
        transition: 0.1s all;
        padding: 5px;
        margin-left: 10px;
        align-items: flex-end;
        display: flex;
        justify-content: center;
        border-radius: 2px;
        border-bottom: #101010 2px solid;
        border-right: #101010 2px solid;
        letter-spacing: 4px;
      }

        /*.icon {
          opacity: 0;
          font-size: 18px;
          margin: 0 2px;
          position: absolute;
          transition: 0.05s all;
        }*/

      .nav-link:hover {
        /*background: rgb(48, 48, 48);
        box-shadow: 0px 0px 10px rgb(48, 48, 48);*/
        border-bottom: #a8a8a8 2px solid;
        border-right: #a8a8a8 2px solid;
        
      }

      /*.nav-link:hover .icon {
        display: block;
        opacity: 1;
        position: relative;
      }*/


.searchbar-inner-box {
  background: #272727;
  height: 35px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  justify-content: space-between;
}

  .input {
    height: 30px;
    width: 0;
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
    color: var(--darkgray);
    transition: all 0.5s;
    transition-delay: 0.1s;
  }

    .searchbar-inner-box:hover>.input,
    .input:focus {
      width: 356px;
      margin: 0 5px;
    }

  .searchbar-inner-box span {
    color: var(--lightgray);
    /*color: #101010;
    font-weight: 600;*/
    margin: 0 4px;
    font-size: 22px;
    cursor: default;
  }

  .searchbar-inner-box input::placeholder {
    color: var(--darkgray);
  }

.results-box {
  position: absolute;
  z-index: 50;
  border-radius: 5px;
  overflow: hidden;
  max-height: 606px;
  transition: all 1s ease-out;
}

  .results-box a {
    text-decoration: none;
  }

  .results-inner-box {
    width: 390px;
    height: 90px;
    background: #272727;
    padding: 5px;
    border-top: 1px solid #181818;
    display: flex;
    align-items: center;
    transition: 0.1s all ease-out;
  }

  .results-inner-box:hover {
    background-color: #363636;
  }

  .results-inner-box img {
    width: 60px;
    border-radius: 4px;
  }

  .results-inner-box h4 {
    color: var(--lightgray);
    margin: 0 5px;
    letter-spacing: 1px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 330px;
  }

  .results-inner-box p {
    color: var(--darkgray);
    margin: 0 5px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 330px;
    justify-content: flex-start;
  }


/*    Homepage    */

#wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.background-carousel-box {
  position: relative;
  width: 100%;
  z-index: -1;
  display: flex;
}

.background-carousel-box img {
 width: 100%;
}

.section-wrapper {
  /*background-color: #101010;
  padding: 10px;
  border-radius: 4px;*/
  margin: 40px 5px;
}

  .section-wrapper h2{
    margin: 0 0 10px 0;
    color: var(--lightgray);
    letter-spacing: 2px;
  }

.display-none {
  display: none;
}

.loading-movie {
  margin: 0 5px;
  background-color: #101010;
  min-width: 200px;
  height: 300px;
  border-radius: 5px;
  animation: loading 0.5s infinite;
}

.movies-box {
  overflow: hidden;
  width: 100%;
  /*box-shadow: inset 0px 0px 20px 0px #171717;*/
}

.inner-movies-box {
  padding: 10px 0;
  display: flex;
  /*overflow: overlay;*/

}

  .movie {
    margin: 0 5px;
    position: relative;
    transition: all 0.1s ease-in;
    display: flex;
    align-items: center;
  }

    .movie:hover {
      transform: scale(1.02);
    }

    .poster-img {
      width: 200px;
      border-radius: 5px;
      transition: all 0.1s ease-in;
    }

      .loading-blur {
        filter: blur(20px);
      }

      .movie:hover>.poster-img {
        filter: brightness(30%);
      }

      .movie:hover>.movie-rating {
        opacity: 100;
      }

    .movie-title {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      color: #efefef;
      padding: 0 20px;
      transition: all 0.05s ease-in;
      font-size: 16px;
    }

    .movie-button {
      border: 2px solid var(--lightgray);
      background-color: rgba(255, 255, 255, 0.2);
      text-decoration: none;
      padding: 6px;
      border-radius: 4px;
      color: var(--lightgray);
      position: relative;
      z-index: 1;
      transition: 0.5s all ease;
      position: absolute;
      bottom: 25px;
      
    }

      .movie-button:hover {
        color: #171717;

      }

      .movie-button:before {
        transition: 0.2s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: "";
        background-color: var(--lightgray);
        
      }

      .movie-button:hover::before {
        left: 0;
        right: 0;
        opacity: 1;
        z-index: -1;
      }

    .hidden-text-box {
      opacity: 0;
      color: var(--lightgray);;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      padding: 40px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      transition: all 0.1s ease-in;
      cursor: grab;
      
    }

      .movie:hover>.hidden-text-box {
        /*background: var(--aqua);*/
        opacity: 100;
      }

      .hidden-text-box:active {
        cursor: grabbing;
      }


    .movie-rating {
      color: var(--lightgray);;
      display: flex;
      align-items: center;
      margin: 0;
      justify-content: center;
    }

    .movie-rating span {
      font-size: 14px;
    }

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 2px;
}

    /* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  transition: 0.1s all ease-out;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/*        Moviepage       */

.moviepage {
  max-width: 1000px;
  margin: 0 auto;
}

.backdrop-img {
  width: 100%;
  position: relative;
  z-index: -1;
}

.moviepage-body-box {
  box-shadow: #171717 0px 0px 50px 80px;
  color: var(--lightgray);
  display: flex;
}

.moviepage-body-left-column {
  min-width: 260px;
  position: sticky;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15px;
  top: 15px;
  margin-top: -170px;
  height: 100%;
}

.moviepage-body-left-column-nobackdrop {
  min-width: 260px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15px;
  top: 15px;
  height: 100%;
}

.moviepage-body-left-column h3,
.moviepage-body-left-column-nobackdrop h3{
  font-size: 22px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-bottom: 0;
}

.moviepage-body-left-column p,
.moviepage-body-left-column-nobackdrop p{
  color: #7a7a7a;
  font-size: 14px;
  margin-top: 0;
}


.good-rating {
  color: rgb(0, 117, 0);
}

.regular-rating {
  color: rgb(211, 137, 0);
}

.bad-rating {
  color: rgb(131, 0, 0);
}

.providers-box {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
  border-radius: 5px;
}

  .justwatch-logo {
    width: 75px;
    filter: brightness(100);
    opacity: 0.5;
  }
  
  .providers-img-box {
    flex-wrap: wrap;
    max-width: 225px;
    border-top: 1px solid #555;
    display: flex;
    margin-top: 5px;
    padding-top: 5px;
    color: #777;
  }

    .providers-img-box img {
      width: 35px;
      margin: 5px;
      border-radius: 8px;
    }

.moviepage-body-right-column {
  padding-left: 15px;
  position: relative;
  z-index: 10;
  border-left: 1px solid var(--lightgray);
  max-width: 709px;
}

.moviepage-poster {
  width: 250px;
  border-radius: 5px;
  box-shadow: #171717 0px 0px 50px 25px;
}

.moviepage-title-box {
  display: flex;
  align-items: baseline;
  margin: 20px 0;
}

.moviepage-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 10px 0 0;
}

.moviepage-metadata {
  font-weight: 100;
  font-style: italic;
  color: var(--darkgray);
  margin: 0 5px;
  min-width: 45px;
}

.moviepage-tagline {
  text-align: right;
  font-weight: 600;
  text-transform: lowercase;
  font-size: 18px;
  margin-top: 10px;
  font-style: italic;
  font-weight: 100;
  color: var(--darkgray);
  position: relative;
  z-index: 1;
}

.moviepage-overview {
  color: var(--darkgray)
}

.moviepage-details {
  margin: 60px 0;
}

.moviepage-detail-box {
  display: flex;
  padding: 10px 0;
  /*border-bottom: 1px solid #747474;
  border-top: 1px solid #747474;*/
  justify-content: space-between;
}

.moviepage-detail-title {
  margin: 0;
  font-weight: bold;
  color: var(--lightgray);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.moviepage-detail-content {
  margin: 0;
  text-transform: lowercase;
  color: var(--darkgray);
  text-align: right;
}

.people-box {
  overflow: hidden;
  /*box-shadow: inset 0px 0px 20px 0px #171717;*/
  margin-bottom: 40px;
  text-transform: lowercase;
}

.inner-people-box {
  padding: 10px 0;
  display: flex;
  /*overflow: overlay;*/
}

.person {
  margin: 0 5px;
  border-radius: 5px;
  min-width: 150px;
  height: 225px;
  overflow: hidden;
  max-height: 250px;
  transition: 0.1s all ease-out;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: grab;
}

.person:active {
  cursor: grabbing;
}


  .person:hover {
    transform: scale(1.02)
  }

.person img {
  width: 150px;
  min-height: 225px;
}

.personal-details1 {
  position: relative;
  background-color: #272727;
  /*bottom: -172px;*/
  top: 192px;
  height: 100%;
  padding: 5px;
  transition: 0.2s all ease-out;
  max-width: 140px;
}

.personal-details2 {
  position: relative;
  background-color: #272727;
  /*bottom: 32px;*/
  top: 170px;
  height: 100%;
  padding: 5px;
  transition: 0.2s all ease-out;
  max-width: 140px;
}

  .person:hover>.personal-details1,
  .person:hover>.personal-details2 {
    top: 125px;
    
  }

  .personal-details1 a,
  .personal-details2 a {
    text-decoration: none;
  }

  .personal-details1 h6,
  .personal-details2 h6 {
    margin: 0;
    color: var(--darkgray);
    transition: 0.1s all;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

    .personal-details1 h6:hover,
    .personal-details2 h6:hover {
      color: #777;
    }

  .personal-details1 p,
  .personal-details2 p {
    margin: 5px 0;
    color: var(--darkgray);
    font-size: 14px;
    font-style: italic;
  }

/*        Footer        */

.footer-box {
  width: 1000px;
  margin: 0 auto;
  color: var(--lightgray);
  box-shadow: #171717 0 0 20px 35px;
  position: relative;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
  padding: 25px 0;
}

.footer-box h2 {
  margin: 0;
}

.footer-box h3 {
  font-weight: 100;
  font-size: 15px;
  color: var(--darkgray);
  margin: 35px 0;
}

.footer-box a {
  font-weight: 100;
  font-size: 15px;
  color: var(--darkgray);
  text-decoration: none;
  transition: all 0.05s ease-out;
}

.footer-box a:hover {
  color: #555;
}

/*      Personpage      */

.personpage-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.personal-data-box {
  display: flex;
  margin: 15px 0;
}

  .personal-data-box img {
    width: 300px;
    border-radius: 10px;
  }

  .personpage-right-column {
    margin-left: 20px;
    width: 100%;
  }



  .personpage-left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    width: 300px;
  }

    .personpage-left-column h2 {
      color: var(--lightgray);
      letter-spacing: 2px;
      margin: 0;
      text-transform: uppercase;
      
    }

    .personpage-left-column h3 {
      margin: 0 0 20px 0;
      color: var(--darkgray);
      letter-spacing: 2px;
      font-size: 16px;
      font-weight: 100;
      font-style: italic;
      text-transform: lowercase;
    }

    .personpage-left-column p {
      color: #777;
      font-style: italic;
      margin: 0 0 20px 0;
    }

.job-titles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #555;
}

  .job-not-selected {
    color: #555;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.05s;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
  }

    .job-not-selected:hover{
      color: var(--darkgray);
    }

  .job-selected {
    color: var(--lightgray);
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    margin: 0 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
  }

  .all-not-selected {
    color: #171717;
    background-color: #555;
    border-radius: 5px;
    padding: 5px;
  }

  .all-selected {
    background-color: #555;
    border-radius: 5px;
    padding: 5px;
  }

.movies-grid {
  display: flex;
  flex-wrap: wrap;
}

  .movies-grid img {
    width: 160px;
    border-radius: 5px;
    margin: 5px;
    transition: all 0.1s;
  }

  .null-poster-movie {
    width: 160px;
    height: 240px;
    border-radius: 5px;
    margin: 5px;
    background: #363636;
    color: var(--darkgray);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s;
  }

  .read-more-button {
    color: var(--darkgray);
    font-weight: 600;
    cursor: pointer;
    transition: 0.05s all;
  }

  .read-more-button:hover {
    color: #777
  }

  .pages {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }

  .pages div {
    display: flex;
    border-radius: 5px;
    background-color: #272727;
  }
  
  .switchpage-active {
    color: #a8a8a8;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.05s all;
  }

    .switchpage-active:hover {
      color: var(--lightgray);
    }

  .switchpage-inactive {
    color: #555;
    font-weight: 600;
    cursor: default;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

    .pagenumber-active {
      color: #555;
      margin: 16px 10px;
    }

    .pagenumber-inactive {
      color: #a8a8a8;
      margin: 16px 10px;
    }

    /*.movies-grid img:hover,
    .null-poster-movie:hover {
      transform: scale(1.02);
    }*/

/*      animations      */

@keyframes loading{
  0%{background-color: #101010;}
  50%{background-color: #131313;}
  100%{background-color: #101010;}
  /*100%{transform:translateX(150%)}*/
}

@-webkit-keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }  
}
   
@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }  
}